# Base de datos
POSTGRES_DB=helpdesk
POSTGRES_USER=helpdesk_user
POSTGRES_PASSWORD=helpdesk_password
DATABASE_URL=postgresql://helpdesk_user:helpdesk_password@postgres:5432/helpdesk

# Backend
NODE_ENV=production
PORT=4000
JWT_SECRET=cambiar_este_secreto_en_produccion
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost
UPLOAD_DIR=uploads

# Frontend
VITE_API_URL=/api

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123
